# Test result
## Time: 0,007
There was 1 failure:
1) validate(tasks.task30.IPv4ValidatorTest)
java.lang.AssertionError: expected:<[true, false, false, true]> but was:<[true, false, false, true, false]>
	at org.junit.Assert.fail(Assert.java:89)
	at org.junit.Assert.failNotEquals(Assert.java:835)
	at org.junit.Assert.assertEquals(Assert.java:120)
	at org.junit.Assert.assertEquals(Assert.java:146)
	at tasks.task30.IPv4ValidatorTest.validate(IPv4ValidatorTest.java:27)

## FAILURES!!!
Tests run: 1,  Failures: 1
